{% extends 'core/base.html' %}
{% load static %}

<!-- ETIQUETA DE TITULO -->
{% block title %}
Productos
{% endblock %}

<!-- ETIQUETA DE CSS -->

 {% block css-styles %}
  <link rel="stylesheet" href="{% static 'productos/css/products-style.css' %}">
 {% endblock css-styles %}

<!-- ETIQUETA DE CONTENIDO -->
{% block content %}
<div class="main-box">
  <div class="title-products">
    <h2>Productos</h2>
  </div>
  <div class="form-container" >
    <form name="formulario-productos"  class="agregar-producto" method="post" action="{% url 'agregar_producto' %}">
      {% csrf_token %}
      {{form.as_p}}

      <label for="productos" >Categoría del producto:</label>
      <input type="text" name="categoria_producto" required>

      <label for="productos">Nombre:</label>
      <input type="text" name="nombre_producto" autocomplete="off">

      <label for="productos">Precio:</label>
      <input type="text" name="precio_producto" autocomplete="off" >

      <label for="productos">Stock:</label>
      <input type="number" name="stock_producto" autocomplete="off" value="1">

      <label for="productos">Descripcion del producto:</label>
      <textarea class="form__textarea" name="descripcion_productos"></textarea>
      <button type="submit" class="btn-agregar">Agregar</button>
    </form>
  </div>
</div>

{% if mensaje_error %}
  <div class="error_mensaje">
    <p>{{mensaje_error}}</p>
  </div>
{% endif %}

{% endblock %}