body {
    background-color: #F1F0E8;
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-box {
    display: flex;
    width: 100%;
    max-width: 80%;
    background-color: #fff;
    margin-top: 40px;
    box-shadow: 0px 0px 10px #000;
}

.table {
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-spacing: 12px;
}

.table td, th {
    font-weight: 600;
    border: none;
    border-bottom: 1px solid #000;
    text-align: center;
    
}
th {
    font-weight: 800;
    letter-spacing: 2px;
}
.table a{
    text-decoration: none;
    
}
.table a:hover{
    opacity: 80%;
}
.table th {
    line-height: 35px;
}